<h2
  *ngIf="
    todoServices.currentOpenProject.id === 1674480923746;
    else editableHeader
  "
  class="title-input"
>
  Inbox
</h2>
<ng-template #editableHeader>
  <input
    #editableHeader
    (change)="changeProjectTitle($event)"
    class="title-input"
    value="{{ todoServices.currentOpenProject.title }}"
    id="project-title"
    (keydown.enter)="unfocusInputfield($event)"
    (focusout)="deleteEmptyProject()"
    placeholder="New Project"
  />
</ng-template>

<mat-divider></mat-divider>

<div
  *ngFor="let todo of todoServices.todoListObservablePending$ | async"
  (mouseover)="todoServices.showHideTrashIcon(todo)"
  (mouseout)="todoServices.showHideTrashIcon(todo)"
  class="todo-card"
  id="{{ todo.id }}"
  cdkDrag
  appExpandOnClick
>
  <div class="collapsed-card">
    <div class="drag-item-placeholder" *cdkDragPlaceholder></div>
    <mat-checkbox id="checkbox" (change)="itemChecked(todo)"></mat-checkbox>
    <input
      (change)="changeTitle(todo, $event)"
      class="todo-input"
      value="{{ todo.title }}"
      attr.id="todo-title{{ todo.id }}"
      placeholder="New Todo"
      (focusout)="deleteEmptyTodo(todo)"
      (keydown.enter)="unfocusInputfield($event)"
    />
    <div class="tags-collapsed">
      <span *ngFor="let tag of todo.tags" class="tag">{{ tag }}</span>
    </div>
    <button
      mat-icon-button
      (click)="deleteTodo(todo)"
      attr.id="delete-button{{ todo.id }}"
      class="hidden"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <!-- Expanded card content -->
  <div class="expanded-card">
    <div class="tags">
      <span *ngFor="let tag of todo.tags" class="tag">
        {{ tag }}
        <button
          class="small-icon-button"
          mat-icon-button
          (click)="removeTag(todo, tag)"
        >
          <mat-icon>cancel</mat-icon>
        </button>
      </span>
    </div>
    <div>
      <input
        [(ngModel)]="newTag"
        (keydown.enter)="addTag(todo, newTag); newTag = ''"
        placeholder="Add Tag"
        class="tag-input-section"
      />
    </div>
  </div>
</div>

<!-- List all the finished todo's -->
<span
  [ngClass]="
    (todoServices.todoListObservableDone$ | async)?.length == 0 ? 'hidden' : ''
  "
  (click)="showHideDoneItems()"
  class="show-hide-done-items"
>
  {{ hideDoneItems ? "Show" : "Hide" }} done items
</span>
<span
  [ngClass]="hideDoneItems ? 'hidden' : ''"
  *ngFor="let todo of todoServices.todoListObservableDone$ | async"
  class="done-item todo-item"
  (mouseover)="todoServices.showHideTrashIcon(todo)"
  (mouseout)="todoServices.showHideTrashIcon(todo)"
>
  <div>
    <mat-checkbox
      type="checkbox"
      id="checkbox"
      (change)="itemChecked(todo)"
      checked
    ></mat-checkbox>
    {{ todo.title }}
  </div>
  <button
    mat-icon-button
    (click)="deleteTodo(todo)"
    attr.id="delete-button{{ todo.id }}"
    class="hidden"
  >
    <mat-icon>delete</mat-icon>
  </button>
</span>

<!-- Button to add new todo -->
<button mat-fab color="primary" (click)="addTodoItem()" id="add-todo">
  <mat-icon fontIcon="add"></mat-icon>
</button>
