:host {
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
}

textarea:focus, input:focus{
    outline: none;
  }

#project-title {
    font-size: 2em;
    font-weight: bold;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    width: 100%;
}

#add-todo {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.drag-item-placeholder {
    background: #F9FAFB;
    min-height: 48px;
}

.done-item {
    text-decoration: line-through;
}

.hidden {
    visibility: hidden;
}

.title-input {
    border: 0;
    width: 100%;
    font-size: 2em;
    font-weight: bold;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.todo-input {
    border: 0;
    flex-grow: 100;
    text-overflow: ellipsis;
}

.todo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

.show-hide-done-items {
    color: gray;
    display: block;
    margin-top: 25px;
}